<header class="sticky top-0 z-50 bg-white/90 backdrop-blur border-b">

  <div class="max-w-7xl mx-auto px-6">

    <div class="h-20 flex items-center justify-between">

      <a href="index.html" class="font-black text-2xl text-blue-700">
        خدمات فنی مهدی 24
      </a>

      <!-- Desktop Menu -->

<nav class="hidden md:flex gap-8">

  <a href="index.html" class="nav-link hover:text-blue-600">
    خانه
  </a>

  <a href="services.html" class="nav-link hover:text-blue-600">
    خدمات
  </a>

  <a href="portfolio.html" class="nav-link hover:text-blue-600">
    نمونه کارها
  </a>

  <a href="contact.html" class="nav-link hover:text-blue-600">
    تماس با ما
  </a>

</nav>


      <div class="flex items-center gap-3">

        <a href="tel:09193645405"
          class="hidden md:block bg-blue-600 text-white px-5 py-2 rounded-xl hover:bg-blue-700">

          تماس فوری

        </a>

        <!-- Hamburger -->

        <button
          id="menuBtn"
          class="md:hidden p-2">

          <svg xmlns="http://www.w3.org/2000/svg"
            class="w-7 h-7"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">

            <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"/>

          </svg>

        </button>

      </div>

    </div>

  </div>

  <!-- Mobile Menu -->

<div id="mobileMenu"
class="hidden md:hidden border-t bg-white">

  <div class="flex flex-col p-4 gap-4">

    <a href="index.html" class="nav-link">
      خانه
    </a>

    <a href="services.html" class="nav-link">
      خدمات
    </a>

    <a href="portfolio.html" class="nav-link">
      نمونه کارها
    </a>

    <a href="contact.html" class="nav-link">
      تماس با ما
    </a>

  </div>

</div>



</header>
